# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# Drizzle
# Change the query params at the end of the URL to "?ssl={"rejectUnauthorized":true}"
DATABASE_URL='postgres://YOUR_POSTGRES_URL_HERE'

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET="INSERT_GENERATED_SECRET_HERE"
NEXTAUTH_URL="http://localhost:3000"

# Relaying Party Identifier
# Used for webauthn, see https://www.w3.org/TR/webauthn/#rp-id
RP_ID="localhost"

# email provider
RESEND_API_KEY=""
RESEND_EMAIL_FROM=""
RESEND_EMAIL_HOST=""
RESEND_EMAIL_PORT=""
RESEND_EMAIL_USER=""

# encryption keys
ENCRYPTION_KEY=""
ENCRYPTION_IV=""

# UPSTASH REDIS
REDIS_URL=""
REDIS_TOKEN=""